/* Plain selectors only */
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h1 {
  font-size: 26px;
  background: midnight blue;  
  padding: 5px;
}
p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  color: red;
}
small {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  background: aqua;
}
