/* Element selector */
h1 {
  color: #1f2937;
}

/* Element selector */
p {
  color: #cc2222;
}

/* Class selector */
.banner {
  color: #334155;
  padding: 8px;
}

/* ID selector */
#p {
  background: #e5e7eb;
  padding: 8px;
}
