/* Element selector */
h1 {
  color: #1f2937;
}

/* Element selector */
p {
  color: #cc2222;
  text-font: arial;
  font-size: 14px;  
}

/* ID selector */
#banner{
  background: #e5e7eb;
  padding: 8px;
}
